In [5]:
import numpy as np
import pandas as pd

df = pd.read_csv('sample_data/data.csv')

In [6]:
df.head(5)

,Sample name,Ti (wt%),T (wt%),T/Ti wt%-ratio,EO (wt%),PSC/mL,SC/mL,No.,Z-cat,Z(mg),...,LOG M,MR,MR/M,SR,SCB(1/1000C),real-dence(kg/cm3),BD(g/cm3),Y0,Y1,activation（g/g/2hr）
0,CKY180907,1.72,31.36,18.232558,0.70,27,0,FAR-180912-1,CYK-180907,8.8,...,-0.366532,41.20,95.813953,1.37,14.98,921.055703,0.20400,8.04,10.331309,11477.272730
1,CKY180907,1.72,31.36,18.232558,0.70,27,0,FAR-180913-1,CYK-180907,5.2,...,0.075547,36.00,30.252101,1.39,15.29,922.556437,0.22100,8.10,10.020532,9615.384615
2,CKY180914,1.08,38.60,35.740741,9.12,14,0,YAR-180920-1,CYK-180914,16.2,...,-0.521434,31.75,105.481728,1.22,14.94,917.715859,NaN,6.60,7.510410,802.469136
3,TY-5-50,1.15,25.37,22.060870,0.25,27,0,YAR-180925-1,TY-5-50,11.0,...,-0.126679,32.96,44.123159,1.32,14.84,921.468686,0.25400,7.23,9.266981,5818.181818
4,TY-5-51,1.09,37.42,34.330275,9.00,14,0,YAR-180925-2,TY-5-51,29.6,...,-0.164944,29.70,43.421053,1.28,11.38,924.784300,0.35361,4.33,8.007644,912.162162

In [7]:
df.shape

(48, 33)

In [8]:
#Check missing data
total = df.isnull().sum().sort_values(ascending=False)
percent = (df.isnull().sum()/df.isnull().count()).sort_values(ascending=False)
missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent']) 
missing_data.head(25)

                     Total   Percent
BD(g/cm3)                1  0.020833
activation（g/g/2hr）      0  0.000000
No.                      0  0.000000
DEAC（mmol）               0  0.000000
TiBA(mmol)               0  0.000000
TEA(mmol)                0  0.000000
W-cat                    0  0.000000
Z(mg)                    0  0.000000
Z-cat                    0  0.000000
SC/mL                    0  0.000000
H2 pressure(kPaG)        0  0.000000
PSC/mL                   0  0.000000
EO  (wt%)                0  0.000000
T/Ti wt%-ratio           0  0.000000
T  (wt%)                 0  0.000000
Ti (wt%)                 0  0.000000
B’2 pressure(MPaG)       0  0.000000
B4(g)                    0  0.000000
Y1                       0  0.000000
B4'(g)                   0  0.000000
Time(min)                0  0.000000
P(MpaG)                  0  0.000000
yield(g)                 0  0.000000
activation(g/g-cat)      0  0.000000
M                        0  0.000000

## devide numerical and object data

In [9]:
object_data = df.select_dtypes(include=object)
numerical_data = df.select_dtypes(exclude=object)

In [10]:
numerical_data.head()

,Ti (wt%),T (wt%),T/Ti wt%-ratio,EO (wt%),PSC/mL,SC/mL,Z(mg),TEA(mmol),TiBA(mmol),DEAC（mmol）,...,LOG M,MR,MR/M,SR,SCB(1/1000C),real-dence(kg/cm3),BD(g/cm3),Y0,Y1,activation（g/g/2hr）
0,1.72,31.36,18.232558,0.70,27,0,8.8,5.7,0.0,0.0,...,-0.366532,41.20,95.813953,1.37,14.98,921.055703,0.20400,8.04,10.331309,11477.272730
1,1.72,31.36,18.232558,0.70,27,0,5.2,5.7,0.0,0.0,...,0.075547,36.00,30.252101,1.39,15.29,922.556437,0.22100,8.10,10.020532,9615.384615
2,1.08,38.60,35.740741,9.12,14,0,16.2,5.7,0.0,0.0,...,-0.521434,31.75,105.481728,1.22,14.94,917.715859,NaN,6.60,7.510410,802.469136
3,1.15,25.37,22.060870,0.25,27,0,11.0,5.7,0.0,0.0,...,-0.126679,32.96,44.123159,1.32,14.84,921.468686,0.25400,7.23,9.266981,5818.181818
4,1.09,37.42,34.330275,9.00,14,0,29.6,5.7,0.0,0.0,...,-0.164944,29.70,43.421053,1.28,11.38,924.784300,0.35361,4.33,8.007644,912.162162

## object data encorder

In [ ]:
from sklearn.preprocessing import LabelEncoder
#LabelEncoderのインスタンスを生成
le = LabelEncoder()
#ラベルを覚えさせる
le = le.fit(df['****']) #set column name
#ラベルを整数に変換
df['****'] = le.transform(df['****'])
df

## drop columns

In [11]:
df.shape

(48, 33)

In [17]:
drop_list = ['activation(g/g-cat)']

df = df.drop(drop_list, axis=1)

In [18]:
df.shape

(48, 28)

In [ ]:
#dealing with missing data
#df = df.drop((missing_data[missing_data['***'] > 1]).index,1)
#df = df.drop(df.loc[df['***'].isnull()].index)
#df.isnull().sum().max() #just checking that there's no missing data missing...

## drop rows

In [19]:
#drop rows which contain NaN
df = df.dropna(how='any', axis=0)
df.shape

(47, 28)

## output dataset

In [20]:
df.to_csv('processed_df.csv', index=False)